Logistics_service/obj/
Logistics_service/bin/
Logistics_service/.vs/

.vs/

*.log
*.user
*.suo
*.cache
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

**/*.dll
**/*.exe
**/*.pdb
**/*.user
**/*.suo
**/*.cache
**/*.tmp
**/*.bak
**/*.swp
**/*.DS_Store
**/*.Thumbs.db

**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/