Logistics_service/obj/
Logistics_service/bin/
Logistics_service/.vs/
Logistics_service/Migrations/

.vs/

Logistics_service/Logistics\ service.csproj.user
Logistics_service/Logistics\ service.sln
Logistics_service/appsettings.Development.json

*.editorconfig
*.log
*.user
*.suo
*.cache
*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

**/*.dll
**/*.exe
**/*.pdb
**/*.user
**/*.suo
**/*.cache
**/*.tmp
**/*.bak
**/*.swp
**/*.DS_Store
**/*.Thumbs.db

**/bin/
**/obj/
**/.vs/
**/.idea/
**/.vscode/