@model string
@{
    ViewData["Title"] = "Unauthorized";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@ViewData["Title"]</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"></script>
    <script src="~/js/auth.js?v=1.0.0"></script>
</head>
<body>
    <h1>401 - Unauthorized</h1>
    <p>You are not authorized to access this resource.</p>

    <meta name="www-authenticate" content="@ViewBag.WWWAuthenticateHeader">

    <script>
        $(document).ready(function () {
            alert('@Html.Raw(Model)');
            auth('@Html.Raw(Model)');
        });
    </script>
</body>
</html>