@using System;
@model string
@{
    ViewData["Title"] = "Unauthorized";
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>401 - Unauthorized</h1>
    <p>You are not authorized to access this resource.</p>
        <p>@Model</p>
</body>
</html>