@using Logistics_service.Controllers.Dashboard;

@{
    Layout = null;
}

<title>Admin Dashboard</title>

<h1>Admin Dashboard</h1>
<div class="button-container">
    <button onclick="auth(`GET`, `/Admin/viewAllCustomers`)">Просмотр всех заказчиков</button>
    <button onclick="auth(`GET`, `/Admin/viewAllManagers`)">Управление администрацией</button>
    <button onclick="viewMapRedLine('GET', '/Admin/ViewAllOrders')">Управление заказами</button>
    <button onclick="auth(`GET`, `/Admin/manageTransport`)">Управление транспортом</button>
</div>