@using Logistics_service.Controllers.Dashboard;

@{
    Layout = null;
}

<title>Admin Dashboard</title>

<h1>Admin Dashboard</h1>
<div class="button-container">
    <button onclick="auth(`GET`, `/Admin/viewAllCustomers`)">Просмотр всех заказчиков</button>
    <button onclick="auth(`GET`, `/Admin/viewAllManagers`)">Просмотр всех менеджеров</button>
    <button onclick="auth(`GET`, `/Admin/addUser`)">Добавление пользователя</button>
    <button onclick="auth(`GET`, `/Admin/viewAllOrders`);">Просмотр всех заказов</button>
    <button onclick="auth(`GET`, `/Admin/manageTransport`)">Управление транспортом</button>
    <button onclick="auth(`GET`, `/Admin/addTransport`)">Добавить транспорт</button>
    <button onclick="viewMapRedLine('GET', '/Admin/viewMap')">Просмотр карты</button>
</div>