@{
    Layout = null;
}

<title>Customer Dashboard</title>

<h1>Customer Dashboard</h1>
<div class="button-container">
    <button onclick="auth(`GET`, `/Customer/viewOrders`)">Посмотреть заказы</button>
    <button onclick="auth(`GET`, `/Customer/createRequest`)">Создать запрос</button>
    <button onclick="viewMapRedLine('GET', '/Customer/viewMap')">Посмотреть карту</button>
</div>
