@{
    Layout = null;
}

<title>Customer Dashboard</title>

<h1>Customer Dashboard</h1>
<div class="button-container">
    <button onclick="viewMapRedLine('GET', '/Customer/ViewOrders')">Посмотреть заказы</button>
    <button onclick="viewMap(`GET`, `/Customer/createRequest`)">Создать запрос</button>
</div> 
