@model string;

<title>Customer Dashboard</title>

<h1>Customer Dashboard</h1>
<div class="button-container">
    <button onclick="location.href='@Url.Action("Customer", "Customer", new { returnUrl = "\\Customer\\viewOrders" })'">Посмотреть заказы</button>
    <button onclick="location.href='@Url.Action("Customer", "Customer", new { returnUrl = "\\Customer\\createRequest" })'">Создать запрос</button>
    <button onclick="location.href='@Url.Action("Customer", "Customer", new { returnUrl = "\\Customer\\viewMap" })'">Посмотреть карту</button>
</div>
