<!DOCTYPE html>
<html lang="ru">
    <body>
        <script src="~/js/auth.js"></script>
        <script>
            $(document).ready(function () {
                auth();
            });
        </script>
    </body>
</html>