<!DOCTYPE html>
<html lang="ru">
    <body>
        @*@<script>
            $(document).ready(function () {
                var role = @ViewBag.role;
                sessionStorage.setItem('Role', role);
            }
        </script>@*@
    </body>
</html>