<title>Manager Dashboard</title>

<h1>Manager Dashboard</h1>
<div class="button-container">
    <button onclick="location.href='@Url.Action("Manager", "Manager", new { returnUrl = "\\Manager\\assignCar" })'">Назначить машину</button>
    <button onclick="location.href='@Url.Action("Manager", "Manager", new { returnUrl = "\\Manager\\updateRoute" })'">Обновить маршрут</button>
    <button onclick="location.href='@Url.Action("Manager", "Manager", new { returnUrl = "\\Manager\\informClient" })'">Информировать клиента</button>
</div>