@{
    Layout = null;
}

<title>Manager Dashboard</title>

<h1>Manager Dashboard</h1>
<div class="button-container">
    <button onclick="auth(`GET`, `/Manager/getOrder`)">Получить заказ</button>
    <button onclick="viewMapRedLine('GET', '/Manager/ViewAssignOrders')">Посмотреть все заказы</button>
</div>