@{
    Layout = null;
}

<title>Manager Dashboard</title>

<h1>Manager Dashboard</h1>
<div class="button-container">
    <button onclick="auth(`GET`, `/Manager/assignCar`)">Назначить машину</button>
    <button onclick="auth(`GET`, `/Manager/updateRoute`); ChangeWidth('1400px');">Обновить маршрут</button>
    <button onclick="auth(`GET`, `/Manager/informClient`)">Информировать клиента</button>
</div>