@{
    Layout = null;
}

<title>Manager Dashboard</title>

<h1>Manager Dashboard</h1>
<div class="button-container">
    <button onclick="auth(`GET`, `/Manager/getOrder`)">Получить заказ</button>
    <button onclick="viewMap(`GET`, `/Manager/viewMap`)">Посмотреть карту</button>
    <button onclick="auth(`GET`, `/Manager/assignOrder`)">Одобрить заказ</button>
</div>