@using System
@using Logistics_service.ViewModels
@using Logistics_service.Models.Users
@model UserInputModel

@{
    Layout = null;
}

<meta name="realm" content="@ViewBag.RealmHeader" />
<meta name="error" content="@ViewBag.Error" />

<div class="container">
    <h1>Добавить пользователя</h1>
    <form id="addUserForm" asp-action="addUser" method="post" onsubmit="encryptPassword(event, 'POST', '/Admin/addUser')">
        <div asp-validation-summary="All" class="error-message"></div>

        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input id="Email" type="email" asp-for="Email" name="Email" />
            <span asp-validation-for="Email" class="error-message"></span>
        </div>

        <div class="form-group">
            <label asp-for="PasswordHash">Пароль:</label>
            <input id="PasswordHash" type="password" asp-for="PasswordHash" name="PasswordHash" />
            <span asp-validation-for="PasswordHash" class="error-message"></span>
        </div>

        <div class="form-group">
            <label asp-for="Name">Имя:</label>
            <input type="text" asp-for="Name" name="Name" />
            <span asp-validation-for="Name" class="error-message"></span>
        </div>

        <div class="form-group">
            <label asp-for="Role">Роль:</label>
            <select asp-for="Role" name="Role"
                    asp-items="@(Html.GetEnumSelectList<UserRole>().Where(x => x.Value != UserRole.Customer.ToString()))">
                <option value="">Выберите роль</option>
            </select>
            <span asp-validation-for="Role" class="error-message"></span>
        </div>

        <div class="button-container">
            <button type="submit">Добавить</button>
        </div>
    </form>
</div>