@model Logistics_service.Models.Orders.CustomerOrder

@{
    Layout = null;
}

<meta name='realm' content="@ViewBag.RealmHeader">

<div class="container">
    <h1>Оставить заявку</h1>
    <form id="createOrderForm" asp-action="createRequest" method="post" onsubmit="createOrder(event, 'POST', '/customer/createRequest')">
        <div asp-validation-summary="All" class="error-message"></div>
        <div class="form-group">
            <label asp-for="BeginningAddress">Адрес получения:</label>
            <input id="BeginningAddress" type="text" asp-for="BeginningAddress" name="BeginningAddress" />
            <span asp-validation-for="BeginningAddress" class="error-message"></span>
        </div>

        <div class="form-group">
            <label asp-for="DestinationAddress">Адрес доставки:</label>
            <input id="DestinationAddress" type="text" asp-for=" DestinationAddress" name="DestinationAddress" />
            <span asp-validation-for="DestinationAddress" class="error-message"></span>
        </div>
        <div class="form-group">
            <label asp-for="ArrivalTime">Время доставки:</label>
            <input type="date" asp-for="ArrivalTime" name="ArrivalTime" />
            <span asp-validation-for="ArrivalTime" class="error-message"></span>
        </div>

        <div class="form-group">
            <label asp-for="WeightCargo">Масса груза:</label>
            <input type="number" asp-for="WeightCargo" name="WeightCargo" />
            <span asp-validation-for="WeightCargo" class="error-message"></span>
        </div>
        <button type="submit">Отправить</button>
    </form>
</div>