@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Logistic Service</title>
</head>
<body>
    <div class="text-center">
        <h2 class="text-center">Добро пожаловать в Logistic</h2>
        <p class="text-center">Сервис для заказа транспорта для различных целей в любую точку России и Беларуси</p>
        <p>Войти <a href="/auth/auth">здесь</a></p>
        <p>Зарегистрироваться <a href="/auth/autor">здесь</a></p>
    </div>
    <div class="button-container">
    </div>
</body>
</html>