@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="text-center">Добро пожаловать в Logistic</h2>
    <p class="text-center">Сервис для заказа транспорта для различных целей в любую точку России и Беларуси</p>
    <p>Войти <a href="api/login">здесь</a></p>
</div>
